@media(max-width:900px)
{
    .li
    {
        display: none;
    }
    .resp-p
    {
        display: block;
        color: black;
    }
    .fa-bars
    {
        display: block;
    }
    .banking p
    {
        display: none;
    }
    .section
    {
        display: none;
    }
    #menu
    {
        display: none
    }
    .menu-bar
    {
        display: block;
        
    }
    .menu-bar p
    {
        display: block;
        color: black
    }
    #fa-xmark
    {
        display: none
    }
}